.page-area{
    background-image: url(../assets/signUp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    overflow: hidden;
}

.form-control{
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.form-text text-muted{
    font-size: 8px;
}
.form-control :hover{
    border: 0;
}
input.ng-invalid.ng-touched{
  border-color: red;
  color: red;
}